<div id='wrap'>
  <div id='header'>
    <div id='popup-title'>
      <h1>
        <a href='#assets'>Secure Password Vault</a>
      </h1>
      <a href='#' id='close' title='Close'></a>
      <a href='#' id='logout' title='Lock Vault'></a>
    </div>
    <div id='nav'>
      <ul>
        <li class='vault'>
          <a href='#assets'>Vault</a>
        </li>
        <li class='add'>
          <a href='#assets/add'>New</a>
        </li>
        <li class='after'>
          <a href='#contacts/bequeath'>Bequeath</a>
        </li>
        <li class='live'>
          <a href='#contacts/share'>Share</a>
        </li>
        <li class='settings'>
          <a href='#settings'>Settings</a>
        </li>
        <li class='about'>
          <a href='#about'>About</a>
        </li>
      </ul>
    </div>
    <div id='page-title' style='display:none;'>
      <h2 id='toptitle'></h2>
    </div>
  </div>
  <div id='app'></div>
</div>
<div id='curtain'></div>